<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="sharedSecretCredentials">
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret  issuerName="owner" issuerSecret="AUTHENTICATION_KEY" />
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint name="RelayEndpoint"
                address="sb://SERVICE_NAMESPACE.servicebus.windows.net/Subscriber.GossipService"
                binding="netEventRelayBinding"
                contract="Subscriber.IGossipContract"
                behaviorConfiguration="sharedSecretCredentials"/>
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
