<?xml version="1.0"?>
<configuration>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="sharedSecretCredentials">
          <transportClientEndpointBehavior credentialType="SharedSecret">
            <clientCredentials>
              <sharedSecret  issuerName="owner" issuerSecret="AUTHENTICATION_KEY" />
            </clientCredentials>
          </transportClientEndpointBehavior>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Subscriber.GossipService">
        <endpoint behaviorConfiguration="sharedSecretCredentials" binding="netEventRelayBinding"
          name="RelayEndpoint" contract="Subscriber.IGossipContract" />
      </service>
    </services>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
